<footer id="footer">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5">
            <h3>Contact Information</h3>
            <p>Dr. J. Saketha Nath</p>
            <p>Associate Professor, IIT Hyderabad</p>
            <p>Phone: (040) 2301 7020 (internal: 7020)</p>
<p><a href="http://www.iith.ac.in/~saketha">Homepage</a></p> 
            <p><a href="mailto:saketha@cse.iith.ac.in">Email</a></p>
    
        </div>
        <div class="span2">
            <img src = "thumbs/tmp_logo.jpg" alt="ML-research-lab-logo"/>
        </div>
        <div class="span5">
            <h3>Address</h3>
            <p>Dept. of Computer Science and Engg.</p>
            <p>Office CSE-510, EECS Building, IIT Hyderabad</p>
            <p>Kandi, Sangareddy. 502285</p>
<p><a href="https://github.com/Dr-J-Saketha-Nath-ML-group">Github</a></p>      
        </div>
    </div>
</div>
<p><I>This website's code is adapted from a publicly available <a href="https://github.com/photonlines/Research-Lab-Website">template</a>. For any concerns/feedback related to the website, please email cs18m20p100002*at*iith.ac.in or rachitkdas@alumni.iith.ac.in.</I></p>
</footer>