<header class="jumbotron subhead" id="overview">
   <h1>ML Research Lab, IIT-H</h1>
   <h4>Supervised by Dr J. Saketha Nath</h4>
</header>

<div class="masthead">
   <div class="navbar">
      <div class="navbar-inner">
         <div class="container">
            <ul class="nav">
               <li {% if page.title == "Home" %}class='active'{% endif %}><a href="{{site.baseurl}}/index.html">Home</a></li>
               <li {% if page.title == "Highlights" %}class='active'{% endif %}><a href="{{site.baseurl}}/highlights.html" >Highlights</a></li>
               <li {% if page.title == 'Readings' %} class="active" {% endif %} ><a href="{{site.baseurl}}/readings.html" >Reading Group</a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
