<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>ML research lab</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="ML Research Lab, Home, IIT Hyderabad">
      <meta name="author" content="">
      <!-- Le styles -->
	  {% include css.html %}
   </head>
   <body>
   <div class="container">
	   {% include header.html %}
       {{content}}
   </div>
	   {% include footer.html %}
	   {% include scripts.html %}
   </body>
</html>
